* {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

header {
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 10%;
}
.logo {
  color: red;
  font-family: "Itim", cursive;
  font-size: 36px;
  font-style: italic;
  margin-right: auto;
  cursor: pointer;
}
header ul li {
  display: inline-block;
  padding: 0 10px;
}
header ul li a {
  color: #fff;
  font-size: 18px;
  transition: all 0.4s ease 0s;
}
header ul li a:hover {
  color: #337ab7;
}
header ul li .active:hover {
  color: #dd4b39;
}

/* -----Navigation----- */
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10%;
}
nav .nav-links li {
  display: inline-block;
  padding: 4px 15px;
}
nav .nav-links li::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: red;
  transition: 0.4s;
}
nav .nav-links li:hover::after {
  width: 100%;
}
nav .nav-links li a {
  color: #666;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.4s ease 0s;
}
nav .nav-links li a:hover {
  color: red;
}
nav .nav-links .nav-child {
  display: none;
}
nav > a {
  display: block;
  margin-left: auto;
}
nav .fa-search {
  color: #000;
  font-size: 24px;
}
.panner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
}
h3 {
  color: #fff;
}
