* {
    padding: 0;
    margin: 0;
}

article, aside, figure, footer, header, nav, section {
    display: block;
}


/* the styles for the elements */

html {
    background-color: #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
    margin-top: 2px;
    margin-bottom: 4px;
}

.shadow {
    text-shadow: 1px 0 0 #800000;
}


/* the styles for the header */

header {
    border-bottom: 3px solid #931420;
    padding-bottom: 2em;
    padding-top: 1.5em;
    background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, #fff 50%, #f6bb73 80%, #f6bb73 100%);
    background-image: -moz-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, #fff 50%, #f6bb73 80%, #f6bb73 100%);
}

header img {
    float: left;
    padding: 0 30px;
    height: 80px;
}

header h2 {
    font-size: 170%;
    color: #800000;
}

header h3 {
    font-size: 130%;
    font-style: italic;
}


/* the styles for the section */

section {
    clear: left;
    /*padding: 0 30px;*/
}

/* Delete style rule for h1*/
/*section h1 {
    font-size: 150%;
    border-bottom: 3px solid #931420;
    border-top: 3px solid #931420;
    padding: .3em 0;
    margin-bottom: 1em;
}*/




/* Exercise 5-2 */


/*
section h1 {
    border-style: double;
    border-color: #000;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 10px;
    box-shadow: 4px 4px #000;
}
*/

section h2 {
    font-size: 130%;
    color: #800000;
    
}

section h3 {
    font-size: 105%;
    padding-bottom: .25em;
    margin-bottom: .25em;
}

section p {
    padding-bottom: .5em;
}

section blockquote {
    
    font-style: italic;
}

section ul {
    
}

section ul>li {
    padding-bottom: .35em;
}

section a:hover,
section a:focus {
    font-style: italic;
}

section img {
    padding-bottom: 1em;
    width: 75px;
    height: 75px;
}

footer {
    background-color: #931420;
    padding: 1em 0;
}

footer p {
    text-align: center;
    color: white;
}

/* Exercise 6-1 */
aside {
    width: 215px;
    float: right;
    padding-left: 20px;
    padding-bottom: 20px;
}

aside h3 {
    font-size: 105%;
    padding-bottom: .25em;


}

aside img {
    padding-bottom: 1em;
}
.aside {
    width: 525px;
    float: right;
    padding-right: 20px;
    padding-left: 20px;
}

/* Exercise 6-2 */
.aside h1 {
    font-size: 150%;
    padding-top: .5em;
    padding-bottom: 0.25em;
    margin: 0;
}
article {
    padding: .5em 0;
    border-bottom: 2px solid #800000;
    border-top: 2px solid #800000;
}
article img {
    float: right;
    width: 222px;
    height: 224px;
    margin-left: 60px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-bottom: 0;
    border: 1px solid #000;
}
article h2 {
    padding: 0;
}
article h3 {
    font-size: 105%;
    padding-bottom: 0.25em;
}
.aside ul {
    margin-left: 14px;
}
.aside h2 {
    margin-top: 12px;
    margin-bottom: 10px;
}