/* So the HTML5 structural tags work in older browsers */
article,
aside,
figure,
footer,
header,
nav,
section {
  display: block;
}

/* the styles for the elements */
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 87.5%;
  width: 99.25%;
  max-width: 960px;
  margin: 0 auto;
  border: 3px solid #800000;
  background-color: #fffded;

  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto 1fr;
}

/* the styles for the header */
header {
  /*border-bottom: 3px solid #800000;*/
  grid-row: 1/2;
  grid-column: 1/ 3;
  padding: 3% 0;
  border: 2px solid #800000;
  background-image: -moz-linear-gradient(
    30deg,
    #800000 0%,
    #fffded 30%,
    white 50%,
    #fffded 80%,
    #800000 100%
  );
  background-image: -webkit-linear-gradient(
    30deg,
    #800000 0%,
    #fffded 30%,
    white 50%,
    #fffded 80%,
    #800000 100%
  );
  background-image: -o-linear-gradient(
    30deg,
    #800000 0%,
    #fffded 30%,
    white 50%,
    #fffded 80%,
    #800000 100%
  );
  background-image: linear-gradient(
    30deg,
    #800000 0%,
    #fffded 30%,
    white 50%,
    #fffded 80%,
    #800000 100%
  );
}

header h1 {
  color: #800000;
}

header h2 {
  font-style: italic;
}

header img {
  float: left;
  padding: 0 3.75%;
  /*padding: 0 30px;*/
}

.shadow {
  text-shadow: 2px 2px 2px #800000;
}

/* the styles for the navigation bar */
.slicknav_menu {
  display: none;
}

#nav_menu {
  text-align: center;
  grid-column: 1/3;
  grid-row: 2/3;
}

#nav_menu > ul {
  list-style: none;
  background-color: #800000;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(5, 1fr);
}

#nav_menu a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 1em 2em;
  transition: 0.6s ease;
}

#nav_menu li a:hover {
  color: #000;
  background-color: #fffded;
  font-style: italic;
}

#nav_menu li:last-child a {
  border-right: none;
}

/* the styles for the section */
main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 30% 1fr;
  gap: 2.5%;
  grid-row: 3/4;
  grid-column: 1/3;
}

section {
  grid-row: 1/2;
  grid-column: 2/3;
  padding: 0 3.7% 20px 0;
}

section h1 {
  color: #800000;
  font-size: 150%;
  padding: 0.5em 0 0.25em;
}

section h2 {
  font-size: 120%;
  padding-bottom: 0.25em;
}

section p {
  padding-bottom: 0.5em;
}

section blockquote {
  padding: 0 2em;
  font-style: italic;
}

section ul {
  padding: 0 0 1.5em 1.25em;
}

section li {
  padding-bottom: 0.35em;
}

article {
  border-top: 2px solid #800000;
  border-bottom: 2px solid #800000;
}

article::after {
  content: "";
  clear: both;
  display: block;
}

article h1 {
  color: black;
}

article img {
  float: right;
  margin: 1em 0 1em 1em;
  border: 1px solid black;
}

aside {
  padding: 0 0 20px 5%;
  grid-row: 1/2;
  grid-column: 1/2;
}

aside h1 {
  color: #800000;
  font-size: 150%;
  padding: 0.5em 0 0.25em;
}

aside h2 {
  font-size: 120%;
  padding-bottom: 0.25em;
}

aside img {
  padding-bottom: 1em;
}

/* the speakers styles for exercise 5-1 */
#speakers {
}

/* the speakers styles for exercise 5-2
#speakers {
	border: 3px double #800000;
	margin-bottom: .75em;
	border-radius: 10px;
	box-shadow: 5px 5px;
	padding: .5em 0 .5em 2em;
	background-color: white;
}
*/
/* the styles for the footer */
footer {
  background-color: #800000;
  padding: 1em 0;
  grid-column: 1/3;
  grid-row: 4/5;
}

footer p {
  color: white;
  text-align: center;
}

@media screen and (max-width: 959px) {
  section h1 {
    font-size: 135%;
  }

  section h2,
  aside h2 {
    font-size: 120%;
  }
}

@media screen and (max-width: 767px) {
  body {
    grid-template-columns: 1fr;
  }

  header {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    gap: 0.5em;
    justify-items: center;
    /*padding: 1.5% 0;*/
  }

  #nav_menu {
    display: none;
  }

  #mobile_menu {
    grid-row: 2/3;
    grid-column: 1 / span 2;
  }

  .slicknav_menu {
    display: block;
  }

  main {
    grid-column: 1 / span 2;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  section {
    grid-row: 1/2;
    grid-column: 1 / span 2;
    padding: 0 2.5%;
  }

  article img {
    max-width: 30%;
    margin-left: 1em;
  }

  aside {
    grid-row: 2/3;
    grid-column: 1 / span 2;
    padding-right: 2.5%;
  }

  aside div {
    column-count: 2;
  }

  footer {
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 90%;
  }

  header h1 {
    font-size: 150%;
  }
  header h2 {
    font-size: 135%;
  }
  .slicknav_menu {
    background-color: #800000 !important;
  }
}
